[submodule "apps/ranobehub-parser"]
	path = apps/ranobehub-parser
	url = git@github.com:KyokusuLib/ranobehub-parser.git

[submodule "apps/kyokusu-tg-bot"]
	path = apps/kyokusu-tg-bot
	url = git@github.com:KyokusuLib/kyokusu-tg-bot.git

[submodule "cli"]
	path = cli
	url = git@github.com:KyokusuLib/kyokusu-cli.git
